.footerNavigation__wrapNavigation {
  margin: 40px 0;
  //border: yellow 2px solid;

  @media (min-width: 768px) {
    flex-basis: 50%;
    margin: 40px 0 0 0 ;

    //border: yellow 2px solid;
  }
  //
  //@media (min-width: 992px) {
  //  flex-basis: 30%;
  //
  //  //border: yellow 2px solid;
  //}


 }

.footerNavigation__navigation {
  display: flex;
  flex-direction: row;

}

.footerNavigation__ul {
  list-style: none;
}

.footerNavigation__li {
  padding: 5px ;

  cursor: pointer;
}

.footerNavigation__link {
  font-family: Raleway, sans-serif;
  color: white;
  line-height: 20px;

  text-decoration: none;
  letter-spacing: 1px;
}

.footerNavigation__link:hover {
  font-weight: bold;
}