.mainBenefits {


  margin: 0 40px;

  display: flex;
  flex-direction: column;
  align-content: center;

  @media (min-width: 768px) {
    margin: 0 200px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    //border: purple 2px solid;

  }




}



.mainBenefits__benefit {

  margin: 40px auto;

  max-width: 480px;

  @media (min-width: 768px) {
    width: 40%;
    //border: 2px solid red;
    align-self: center;
    justify-self: center;
  }


}


.benefit__pictureWrapp{
  margin-bottom: 25px;

}

.benefit__picture {

}

.benefit__title {
  margin-bottom: 15px;
  font-size: 16px;

}

.benefit__text {
  letter-spacing: 1px;

}