.mainOpinions {
  margin: 0 80px;
  //position: relative;
  background: url("../img/bg-quotes.png") 20px top no-repeat;
  background-size: 30px ;
  text-align: center;

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    align-content: center;
    //align-items: stretch;
    justify-content: space-around;
    background-size: 40px ;
    margin: 0 90px;


    //border: green solid 2px;
  }



}



.mainOpinions__opinionWrapp {
  //max-width: 700px;
  background-color: hsl(219, 30%, 18%);
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 20px 5px 20px;
  text-align: left;
  border-radius: 5px;

  //align-self: center;

  display: flex;
  flex-direction: column;


  @media (min-width: 992px) {

    flex-basis: 30%;
    justify-self: center;
    align-self: stretch;
    //border: yellow 2px solid;
    margin: 26px ;

  }





}

.mainOpinions__text {
  line-height: 20px;
  font-size: 12px;
  flex-grow: 1;



}

.mainOpinions__cardWrapp {

  margin: 20px 0 20px 0;



   display: grid;
  align-content: flex-start;
  grid-template-columns: 40px 20px 1fr;
  //grid-template-rows: 20px 20px;
  grid-template-areas:
          "pictureCell noneCell nameCell"
          "pictureCell noneCell workCell";

  @media (min-width: 992px) {
    width: 100%;
    align-self: flex-end;
  }


}

.mainOpinions__pictureWrapp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  grid-area: pictureCell;
  //margin-right: 20px;
  //position: absolute;


}

.mainOpinions__picture {
  width: 100%;
  height: 100%;

}

.mainOpinions__name {
  line-height: 20px;
  font-size: 14px;
  grid-area: nameCell;
  //flex-grow: 1;
  //flex-basis: 40%;
  //position: absolute;

}

.mainOpinions__work {
  line-height: 20px;
  font-size: 12px;
  grid-area: workCell;
  //flex-grow: 1;
  //position: absolute;

}