.mainAccess {

  max-width: 760px;
  margin:   80px 40px;

  padding: 20px 20px 40px 20px;

  display: flex;
  flex-direction: column;
  align-content: center;

  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;

  @media (min-width: 768px) {
    width: 760px;
    margin:   80px auto;
  }

}

.mainAccess__title {
  margin-top: 40px;
  font-size: 20px;
}

.mainAccess__text {
  letter-spacing: 1px;
  margin: 15px;
  line-height: 20px;

  @media (min-width: 768px) {
    //border: red 2px solid;
    margin: 15px 40px;
  }
}

.mainAccess__form {

  display: flex;
  flex-direction: column;
  align-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    //border: green solid 2px;
  }


  //background-color: yellow;

}

.mainAccess__input {

  align-self: center;

  margin-top: 20px;

  background: white;
  border-radius: 50px;

  font-family: Raleway, sans-serif;
  font-size: 12px;


  height: 60px;
  width: 280px;
  padding: 0 20px;

  cursor: pointer;

  @media (min-width: 768px) {
    flex-basis: 60%;

  }

}


.mainAccess__btn {

  align-self: center;

  margin-top: 20px;

  background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
  border-radius: 50px;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  height: 60px;
  width: 280px;
  padding: 0 20px;

  cursor: pointer;


  @media (min-width: 768px) {
    flex-basis: 33%;

  }

}

.mainAccess__message {
  @media (min-width: 768px) {
    flex-basis: 80%;
    //padding-right: 200px;
    //align-self: flex-start ;
    //justify-self: flex-end;
    order: 2;

    //border: purple 2px solid;

    text-align: start;


  }


}


.mainAccess__btn:hover {
  background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(176, 68%, 64%) 100%);
}

.mainAccess__message {
  font-size: 10px;
  color: red;
}