.navigation {
  height: 60px;

  //width: 100%;
  margin: 15px 0px;
  //border: hotpink 2px solid;

  display: flex;

  position: sticky;
  top: 0;

  background-color: hsl(218, 28%, 13%);

  @media (min-width: 768px) {
    padding: 0 40px;
  }



}

.navigation__wrapLogo {
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  //padding: 5px 0px;
  //margin-right: 20px;


}

.navigation__logo {
  height: 100%;

}

.navigation__wrapNavigation {
  flex-basis: 80%;
  flex-grow: 1;
  margin-top: 15px;
  margin-right: 20px;

}

.navigation__navigation {



}

.navigation__ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  //background-color: yellow;


}

.navigation__li {
  //background-color: green;

  padding: 5px 10px;

  cursor: pointer;

  @media (min-width: 768px) {
    padding: 5px 20px;
  }

}

.navigation__link {


  font-family: Raleway, sans-serif;
  color: white;

  text-decoration: none;
  letter-spacing: 1px;

  border-bottom: 1px solid hsl(218, 28%, 13%);

}

.navigation__link:hover {
  border-bottom: 1px solid white;
}